In [56]:
import requests
from bs4 import BeautifulSoup
Names = []
Ratings = []
Prices = []
Boughts = []
OPs = []

url = "https://www.amazon.in/s?k=phone+under+50000&crid=2NI5BROZ2X1O4&sprefix=phone+under+50000%2Caps%2C278&ref=nb_sb_noss_2"

for i in range(2,11):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    name = soup.find_all("span", {"class":"a-size-medium a-color-base a-text-normal"})
    
    for i in name:
        Names.append(i.text)
    
    price = soup.find_all("span", {"class":"a-price-whole"})
    
    for i in price:
        Prices.append(i.text)
    
    rating = soup.find_all("span", {"class":"a-icon-alt"})
    
    for i in rating:
        Ratings. append(i.text)
    
    Ratings.pop(-1)
        
    link = soup.find("a", {"class":"s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"}).get("href")
    link = link[:-1]
    cnl = "https://www.amazon.in/s?k="+link+str(i)
    url = cnl

In [57]:
import pandas as pd 

df = pd.DataFrame({"Names":Names, "Prices":Prices, "Ratings":Ratings})
df

,Names,Prices,Ratings
0,"Xiaomi 14 (Jade Green, 12GB RAM, 512GB Storage...","49,999",4.2 out of 5 stars
1,"Samsung Galaxy A55 5G (Awesome Navy, 12GB RAM,...","45,999",4.0 out of 5 stars
2,"Samsung Galaxy S23 5G Snapdragon (Cream, 8GB, ...","45,499",4.4 out of 5 stars
3,"OnePlus 12R (Cool Blue, 16GB RAM, 256GB Storage)","45,998",4.3 out of 5 stars
4,"Vivo V40 Pro 5G AI Smartphone (Titanium Grey, ...","48,525",4.1 out of 5 stars
...,...,...,...
139,"Vivo V40 Pro 5G AI Smartphone (Ganges Blue, 8G...","45,995",4.1 out of 5 stars
140,"Nothing Phone (2) 5G (Grey, 12GB RAM, 256GB St...","49,495",4.1 out of 5 stars
141,"realme NARZO 70 Pro 5G (Glass Gold, 8GB RAM,25...","16,998",4.1 out of 5 stars
142,"HONOR 200 Pro 5G (Ocean Cyan, 12GB+512GB) | 6....","49,998",4.2 out of 5 stars
143,"OnePlus 12R (Cool Blue, 8GB RAM, 256GB Storage)","42,998",4.3 out of 5 stars

In [59]:
df.to_csv("amazon_phones_under_50k.csv", index = False)