In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Grocery.csv")
df

      Product Name  Price (USD)  Quantity Sold
0           Apples         1.99            150
1          Bananas         0.59            200
2          Carrots         0.89            250
3         Tomatoes         2.49            180
4         Potatoes         1.29            300
5           Onions         0.79            270
6         Broccoli         2.19            130
7          Spinach         1.99            220
8             Milk         3.49            190
9             Eggs         2.99            160
10           Bread         2.49             80
11  Chicken Breast         5.99             60
12     Ground Beef         6.99             50
13          Salmon        10.99             40
14          Yogurt         0.99            300
15          Cheese         4.49            230
16    Orange Juice         3.99            120
17          Coffee         9.99             70
18            Rice         1.49            500
19           Pasta         1.29            450

In [2]:
df["Quantity Sold"].sum()

3950

In [3]:
df["Quantity Sold"].mean()

197.5

In [4]:
df["Quantity Sold"].min()

40

In [5]:
df["Quantity Sold"].max()

500

In [6]:
df["Quantity Sold"].count()

20

In [11]:
df["Quantity Sold"].nunique()

19