In [5]:
import pandas as pd
import numpy as np

data = {"A":[1,2,3, np.nan],
       "B":["Female",np.nan, "male",np.nan],
       "C": [np.nan, 4,5,6]}

df = pd.DataFrame(data)
df

     A       B    C
0  1.0  Female  NaN
1  2.0     NaN  4.0
2  3.0    male  5.0
3  NaN     NaN  6.0

In [2]:
df.dropna()

     A    B    C
2  3.0  7.0  5.0

In [6]:
df.fillna(5)

     A       B    C
0  1.0  Female  5.0
1  2.0       5  4.0
2  3.0    male  5.0
3  5.0       5  6.0

In [11]:
df.ffill()

     A       B    C
0  1.0  Female  NaN
1  2.0  Female  4.0
2  3.0    male  5.0
3  3.0    male  6.0

In [12]:
df.bfill()

     A       B    C
0  1.0  Female  4.0
1  2.0    male  4.0
2  3.0    male  5.0
3  NaN     NaN  6.0

In [13]:
df["A"] = df["A"].ffill()

In [14]:
df

     A       B    C
0  1.0  Female  NaN
1  2.0     NaN  4.0
2  3.0    male  5.0
3  3.0     NaN  6.0

In [15]:
df['C'].mean()

5.0

In [16]:
df["C"] = df["C"].fillna(df['C'].mean())
df

     A       B    C
0  1.0  Female  5.0
1  2.0     NaN  4.0
2  3.0    male  5.0
3  3.0     NaN  6.0

In [17]:
df = pd.read_csv("mxmh_survey_results.csv")
df

,Timestamp,Age,Primary streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,...,Frequency [R&B],Frequency [Rap],Frequency [Rock],Frequency [Video game music],Anxiety,Depression,Insomnia,OCD,Music effects,Permissions
0,8/27/2022 19:29:02,18.0,Spotify,3.0,Yes,Yes,Yes,Latin,Yes,Yes,...,Sometimes,Very frequently,Never,Sometimes,3.0,0.0,1.0,0.0,NaN,I understand.
1,8/27/2022 19:57:31,63.0,Pandora,1.5,Yes,No,No,Rock,Yes,No,...,Sometimes,Rarely,Very frequently,Rarely,7.0,2.0,2.0,1.0,NaN,I understand.
2,8/27/2022 21:28:18,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,...,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect,I understand.
3,8/27/2022 21:40:40,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,...,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve,I understand.
4,8/27/2022 21:54:47,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,...,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve,I understand.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,10/30/2022 14:37:28,17.0,Spotify,2.0,Yes,Yes,No,Rock,Yes,Yes,...,Never,Rarely,Very frequently,Never,7.0,6.0,0.0,9.0,Improve,I understand.
732,11/1/2022 22:26:42,18.0,Spotify,1.0,Yes,Yes,No,Pop,Yes,Yes,...,Never,Never,Sometimes,Sometimes,3.0,2.0,2.0,5.0,Improve,I understand.
733,11/3/2022 23:24:38,19.0,Other streaming service,6.0,Yes,No,Yes,Rap,Yes,No,...,Sometimes,Sometimes,Rarely,Rarely,2.0,2.0,2.0,2.0,Improve,I understand.
734,11/4/2022 17:31:47,19.0,Spotify,5.0,Yes,Yes,No,Classical,No,No,...,Never,Never,Never,Sometimes,2.0,3.0,2.0,1.0,Improve,I understand.
735,11/9/2022 1:55:20,29.0,YouTube Music,2.0,Yes,No,No,Hip hop,Yes,Yes,...,Very frequently,Very frequently,Very frequently,Rarely,2.0,2.0,2.0,5.0,Improve,I understand.

In [34]:
df = df.drop(columns = "Permissions")
df

KeyError: "['Permissions'] not found in axis"

In [19]:
df.isnull().sum()

Timestamp                         0
Age                               1
Primary streaming service         1
Hours per day                     0
While working                     3
Instrumentalist                   4
Composer                          1
Fav genre                         0
Exploratory                       0
Foreign languages                 4
BPM                             107
Frequency [Classical]             0
Frequency [Country]               0
Frequency [EDM]                   0
Frequency [Folk]                  0
Frequency [Gospel]                0
Frequency [Hip hop]               0
Frequency [Jazz]                  0
Frequency [K pop]                 0
Frequency [Latin]                 0
Frequency [Lofi]                  0
Frequency [Metal]                 0
Frequency [Pop]                   0
Frequency [R&B]                   0
Frequency [Rap]                   0
Frequency [Rock]                  0
Frequency [Video game music]      0
Anxiety                           0
Depression                        0
Insomnia                          0
OCD                               0
Music effects                     8
dtype: int64

In [22]:
df = df.dropna()
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 616 entries, 2 to 735
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     616 non-null    object
 1   Age                           616 non-null    float64
 2   Primary streaming service     616 non-null    object
 3   Hours per day                 616 non-null    float64
 4   While working                 616 non-null    object
 5   Instrumentalist               616 non-null    object
 6   Composer                      616 non-null    object
 7   Fav genre                     616 non-null    object
 8   Exploratory                   616 non-null    object
 9   Foreign languages             616 non-null    object
 10  BPM                           616 non-null    float64
 11  Frequency [Classical]         616 non-null    object
 12  Frequency [Country]           616 non-null    object
 13  Frequency [EDM]               616 non-null    object
 14  Frequency [Folk]              616 non-null    object
 15  Frequency [Gospel]            616 non-null    object
 16  Frequency [Hip hop]           616 non-null    object
 17  Frequency [Jazz]              616 non-null    object
 18  Frequency [K pop]             616 non-null    object
 19  Frequency [Latin]             616 non-null    object
 20  Frequency [Lofi]              616 non-null    object
 21  Frequency [Metal]             616 non-null    object
 22  Frequency [Pop]               616 non-null    object
 23  Frequency [R&B]               616 non-null    object
 24  Frequency [Rap]               616 non-null    object
 25  Frequency [Rock]              616 non-null    object
 26  Frequency [Video game music]  616 non-null    object
 27  Anxiety                       616 non-null    float64
 28  Depression                    616 non-null    float64
 29  Insomnia                      616 non-null    float64
 30  OCD                           616 non-null    float64
 31  Music effects                 616 non-null    object
dtypes: float64(7), object(25)
memory usage: 158.8+ KB

In [35]:
df["Timestamp"] = pd.to_datetime("Timestamp", format = '%m/%d/%Y %H:%M:%S')

ValueError: time data "Timestamp" doesn't match format "%m/%d/%Y %H:%M:%S", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [33]:
df

,Timestamp,Age,Primary streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,...,Frequency [Pop],Frequency [R&B],Frequency [Rap],Frequency [Rock],Frequency [Video game music],Anxiety,Depression,Insomnia,OCD,Music effects
2,NaT,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,...,Rarely,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect
3,NaT,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,...,Sometimes,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve
4,NaT,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,...,Sometimes,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve
5,NaT,18.0,Spotify,5.0,Yes,Yes,Yes,Jazz,Yes,Yes,...,Very frequently,Very frequently,Very frequently,Very frequently,Never,8.0,8.0,7.0,7.0,Improve
6,NaT,18.0,YouTube Music,3.0,Yes,Yes,No,Video game music,Yes,Yes,...,Rarely,Rarely,Never,Never,Sometimes,4.0,8.0,6.0,0.0,Improve
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,NaT,17.0,Spotify,2.0,Yes,Yes,No,Rock,Yes,Yes,...,Very frequently,Never,Rarely,Very frequently,Never,7.0,6.0,0.0,9.0,Improve
732,NaT,18.0,Spotify,1.0,Yes,Yes,No,Pop,Yes,Yes,...,Very frequently,Never,Never,Sometimes,Sometimes,3.0,2.0,2.0,5.0,Improve
733,NaT,19.0,Other streaming service,6.0,Yes,No,Yes,Rap,Yes,No,...,Sometimes,Sometimes,Sometimes,Rarely,Rarely,2.0,2.0,2.0,2.0,Improve
734,NaT,19.0,Spotify,5.0,Yes,Yes,No,Classical,No,No,...,Never,Never,Never,Never,Sometimes,2.0,3.0,2.0,1.0,Improve
735,NaT,29.0,YouTube Music,2.0,Yes,No,No,Hip hop,Yes,Yes,...,Sometimes,Very frequently,Very frequently,Very frequently,Rarely,2.0,2.0,2.0,5.0,Improve