In [4]:
import pandas as pd

name = ["john","peter","gaurav"]
s = pd.Series(name)
s

0      john
1     peter
2    gaurav
dtype: object

In [10]:
students = {"name" : ["john","peter","gaurav"],
           "age": [12,14,9],
           "gender":["M","M","M"]}

df = pd.DataFrame(students)
df["age"]

0    12
1    14
2     9
Name: age, dtype: int64

In [11]:
df = pd.read_csv("C:/Users/ayush/Desktop/Python Da/Python Libraries/Numpy/Grocery.csv")
df

      Product Name  Price (USD)  Quantity Sold
0           Apples         1.99            150
1          Bananas         0.59            200
2          Carrots         0.89            250
3         Tomatoes         2.49            180
4         Potatoes         1.29            300
5           Onions         0.79            270
6         Broccoli         2.19            130
7          Spinach         1.99            220
8             Milk         3.49            190
9             Eggs         2.99            160
10           Bread         2.49             80
11  Chicken Breast         5.99             60
12     Ground Beef         6.99             50
13          Salmon        10.99             40
14          Yogurt         0.99            300
15          Cheese         4.49            230
16    Orange Juice         3.99            120
17          Coffee         9.99             70
18            Rice         1.49            500
19           Pasta         1.29            450

In [12]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ayush\appdata\local\programs\python\python312\lib\site-packages (3.1.3)
Requirement already satisfied: et-xmlfile in c:\users\ayush\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
df = pd.read_excel("abc.xlsx")