In [7]:
import pandas as pd
data = {"Name":["Ajay Sharma","Vijay Verma","Jyoti Singh","Nita Bajaj"]}

df = pd.DataFrame(data)
df

          Name
0  Ajay Sharma
1  Vijay Verma
2  Jyoti Singh
3   Nita Bajaj

In [9]:
df[["First Name", "Last Name"]] = df["Name"].str.split(" ", expand = True)
df

          Name First Name Last Name
0  Ajay Sharma       Ajay    Sharma
1  Vijay Verma      Vijay     Verma
2  Jyoti Singh      Jyoti     Singh
3   Nita Bajaj       Nita     Bajaj